
  * {
         box-sizing: border-box;
     }

h1 {
    color: #3DF0FF;
    font-family: "Helvetica Neue";
    font-weight: normal;
    text-align: center;
    margin: 0px auto;
    padding-top: 30px;


 }
p { color: #3DF0FF;
    font-family: "Helvetica Neue";
    font-weight: normal;
    text-align: center;
    margin: 0px auto;
    padding-top: 30px;}

body {
	margin: 0;
    font-family: Arial;
    font-size: 17px;
}


